* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 80px;
    overflow-x: hidden;
}

.social-media {
    width: 470px;
    padding: 20px;
    position: absolute;
    right: -406px;
    color: #fff;
    font-size: 30px;
    transition: transform 400ms ease-in-out;
}

.social-media:hover {
    transform: translateX(-406px);
}

i {
    width: 60px;
}

a:link,
a:visited {
    color: #fff;
}

.social-media.blog { 
    background-color: #e17b77;
}

.social-media.twitter { 
    background-color: #00aced;
    top: 156px; 
}

.social-media.linkedin { 
    background-color: #007bb6;
    top: 232px; 
}

.social-media.facebook { 
    background-color: #3b5998;
    top: 308px; 
}

.social-media.github { 
    background-color: #333;
    top: 384px; 
}